* {
    background-color: #F0FFFF;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    background-image: url("images/internet2.avif");
    height: 130px;
    color: white;
}


h3 {
    text-align: center;
    font-size: x-large;
}

.header {
    font-size: x-large;
}

.introduction {
    margin: auto;
    width: 80%;
    font-size: large;
}

.white {
    background-color: white;
}


.box {
    font-family: Georgia;
    background-color: white;
    font-size: large;
    border-radius: 25px;
    padding: 20px;
    border: solid;
    display: inline-block;
    text-align: center;
}

